<section class="text-gray-700 body-font">
  <div class="container px-5 py-20 mx-auto flex flex-wrap flex-col">
    <div class="flex mx-auto flex-wrap mb-12 tabs-mob">
      <a
        class="tabs-mob-a sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 tracking-wider rounded-t"
        [ngClass]="{'bg-gray-100 border-indigo-500 text-indigo-500': orderStep === 0}">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
             class="w-5 h-5 mr-3" viewBox="0 0 24 24">
          <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
        </svg>
        КОШИК
      </a>
      <a
        class="tabs-mob-a sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider"
        [ngClass]="{'bg-gray-100 border-indigo-500 text-indigo-500': orderStep === 1}">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
             class="w-5 h-5 mr-3" viewBox="0 0 24 24">
          <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
        </svg>
        ДОСТАВКА / ОПЛАТА
      </a>
      <a
        class="tabs-mob-a sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none border-gray-200 hover:text-gray-900 tracking-wider"
        [ngClass]="{'bg-gray-100 border-indigo-500 text-indigo-500': orderStep === 2}">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
             class="w-5 h-5 mr-3" viewBox="0 0 24 24">
          <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
        ІНФОРМАЦІЯ ПРО ДОСТАВКУ
      </a>
    </div>

    <ng-container *ngIf="orderStep === 0">
      <div *ngIf="!cartItems || cartItems[0].offers.length === 0 && cartItems[0].solutions.length === 0 &&
       cartItems[0].lenses.length === 0 && cartItems[0].drops.length === 0" class="flex flex-col">
        <div class="mx-auto">
          <img src="../../../assets/empty-cart.png" alt="empty-cart"/>
        </div>
        <span class="mx-auto text-lg font-medium title-font">У вас немає товарів у кошику!</span>
      </div>
      <div class="wrapper-box" *ngFor="let item of cartItems">
        <h2 *ngIf="item.drops.length !== 0"
            class="text-lg text-gray-900 font-medium title-font mb-4 mx-auto flex justify-center title-mob-heading">Догляд за очима</h2>
        <div class="flex flex-row mob-items-container" *ngFor="let care of item.drops">
          <img class="xl:w-32 lg:w-1/5 md:w-1/2 w-2/3 block mx-auto mb-10 object-cover object-center rounded mob-img" alt="hero"
               src="https://dummyimage.com/720x600">
          <div class="flex flex-col text-left w-full ml-8">
            <h1 class="text-xl font-medium title-font mb-3 text-gray-900 title-mob">{{care.name}}</h1>
            <div class="flex flex-row">
              <div class="flex flex-col pr-2 mob-param-block">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param" for="grid-state">
                  Кількість:
                </label>
                <div class="relative">
                  <select (change)="changeDropsQuantity(item, $event, care.id)"
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option *ngFor="let quantity of lenseQuantity" [selected]="care.quantity === quantity.value"  [value]="quantity.value">{{quantity.value}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="flex flex-col pr-2 mob-param-block">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param" for="grid-state">
                  Об'єм:
                </label>
                <div class="relative">
                  <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    id="grid-state">
                    <option [value]="care.cvalue" [disabled]="true">{{care.cvalue}} ml</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-center flex-col">
            <span>
              <svg (click)="deleteCareFromList(care)" class="w-8 h-8 delete-button" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
              </svg>
            </span>
            <span class="whitespace-no-wrap mt-10 font-medium price">{{care.price * care.quantity}} грн.</span>
          </div>
        </div>
        <h2 *ngIf="item.lenses.length !== 0"
            class="text-lg text-gray-900 font-medium title-font mb-4 mx-auto flex justify-center title-mob-heading">Контактні лінзи</h2>
        <div class="flex flex-row mob-items-container" *ngFor="let lense of item.lenses">
          <h1 class="text-xl font-medium title-font mb-4 text-gray-900 title-mob hidden delete-block-mob">{{lense.name}}</h1>
          <img class="xl:w-32 lg:w-1/5 md:w-1/2 w-2/3 block mx-auto mb-10 object-cover object-center rounded mob-img delete-block" alt="hero"
               src="https://dummyimage.com/720x600">

          <div class="mob-resp hidden delete-block-mob">
            <img class="xl:w-32 lg:w-1/5 md:w-1/2 w-2/3 block mx-auto mb-10 object-cover object-center rounded mob-img" alt="hero"
                 src="https://dummyimage.com/720x600">
            <div class="flex items-center hidden flex-col delete-block-mob">
              <span>
                <svg (click)="deleteLenseFromList(lense)" class="w-8 h-8 delete-button" fill="none" stroke="currentColor"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                </svg>
              </span>
              <span class="whitespace-no-wrap mt-10 font-medium price">{{lense.price * lense.quantity}} грн.</span>
            </div>
          </div>

          <div class="flex flex-col text-left w-full ml-8">
            <h1 class="text-xl font-medium title-font mb-4 text-gray-900 title-mob delete-block">{{lense.name}}</h1>
            <div class="flex flex-row flex-wrap">
              <div class="flex flex-col pr-2 mob-param-block">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Кількість:</label>
                <div class="relative">
                  <select (change)="changeLensesQuantity(item, $event, lense.id)"
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option *ngFor="let quantity of lenseQuantity" [selected]="lense.quantity === quantity.value" [value]="quantity.value">{{quantity.value}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="flex flex-col pr-2 mob-param-block">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Діоптрії:</label>
                <div class="relative">
                  <select (change)="changeDiopters(item, $event, lense.id)"
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option value="Вибрати">Вибрати</option>
                    <option *ngFor="let diopters of lenseDiopters" [selected]="lense.diopters === diopters.value" [value]="diopters.value">{{diopters.value}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>


              <div class="flex flex-col pr-2 mob-param-block" *ngIf="lense.hasCylinder">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Циліндр:</label>
                <div class="relative">
                  <select (change)="changeLensCylinder(item, $event, lense.id)"
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option value="Вибрати">Вибрати</option>
                    <option *ngFor="let cylinder of lensCylinder" [selected]="cylinder.value === lense.cylinder"  [value]="cylinder.value">{{cylinder.value}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>


              <div class="flex flex-col pr-2 mob-param-block" *ngIf="lense.hasAxis">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Вісь:</label>
                <div class="relative">
                  <select (change)="changeLensAxis(item, $event, lense.id)"
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option value="Вибрати">Вибрати</option>
                    <option *ngFor="let axis of lensAxis" [selected]="lense.axis === axis.value"  [value]="axis.value">{{axis.value}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>

              </div>
              <div class="flex flex-col pr-2 mob-param-block">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Кривизна:</label>
                <div class="relative" *ngIf="lense.hasDefaultBC">
                  <select
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option [value]="lense.defaultBC" [disabled]="true">{{lense.defaultBC}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
                <div class="relative" *ngIf="!lense.hasDefaultBC">
                  <select (change)="changeLensBc(item, $event, lense.id)"
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option value="Вибрати">Вибрати</option>
                    <option *ngFor="let bc of lensBC" [selected]="lense.defaultBC == bc.value" [value]="bc.value">{{bc.value}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>

              <div class="flex flex-col pr-2 mob-param-block">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Діаметр:</label>
                <div class="relative">
                  <select
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option [value]="lense.defaultDiameter" [disabled]="true">{{lense.defaultDiameter}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-center flex-col delete-block">
            <span>
              <svg (click)="deleteLenseFromList(lense)" class="w-8 h-8 delete-button" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
              </svg>
            </span>
            <span class="whitespace-no-wrap mt-10 font-medium price">{{lense.price * lense.quantity}} грн.</span>
          </div>
        </div>

        <h2 *ngIf="item.offers.length !== 0"
            class="text-lg text-gray-900 font-medium title-font mb-4 mx-auto flex justify-center title-mob-heading">Вигідні пропозиції</h2>
        <div class="flex flex-row mob-items-container" *ngFor="let offer of item.offers">
          <img class="xl:w-32 lg:w-1/5 md:w-1/2 w-2/3 block mx-auto mb-10 object-cover object-center rounded mob-img" alt="hero"
               src="https://dummyimage.com/720x600">
          <div class="flex flex-col text-left w-full ml-8">
            <h1 class="text-xl font-medium title-font mb-4 text-gray-900 title-mob">{{offer.name}}</h1>
            <div class="flex flex-row flex-wrap">
              <div class="flex flex-col pr-2 mob-param-block">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Діоптрії:</label>
                <div class="relative">
                  <select (change)="changeOfferDiopters(item, $event, offer.id)"
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option value="Вибрати">Вибрати</option>
                    <option *ngFor="let diopters of lenseDiopters" [selected]="offer.diopters === diopters.value" [value]="diopters.value">{{diopters.value}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>


              <div class="flex flex-col pr-2 mob-param-block" *ngIf="offer.hasCylinder">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Циліндр:</label>
                <div class="relative">
                  <select (change)="changeOfferCylinder(item, $event, offer.id)"
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option value="Вибрати">Вибрати</option>
                    <option *ngFor="let cylinder of lensCylinder" [selected]="cylinder.value === offer.cylinder"  [value]="cylinder.value">{{cylinder.value}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>


              <div class="flex flex-col pr-2 mob-param-block" *ngIf="offer.hasAxis">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Вісь:</label>
                <div class="relative">
                  <select (change)="changeOfferAxis(item, $event, offer.id)"
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option value="Вибрати">Вибрати</option>
                    <option *ngFor="let axis of lensAxis" [selected]="offer.axis === axis.value"  [value]="axis.value">{{axis.value}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>

              </div>
              <div class="flex flex-col pr-2 mob-param-block">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Кривизна:</label>
                <div class="relative" *ngIf="offer.hasDefaultBC">
                  <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option [value]="offer.defaultBC" [disabled]="true">{{offer.defaultBC}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
                <div class="relative" *ngIf="!offer.hasDefaultBC">
                  <select (change)="changeOfferBc(item, $event, offer.id)"
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option value="Вибрати">Вибрати</option>
                    <option *ngFor="let bc of lensBC" [selected]="offer.defaultBC == bc.value" [value]="bc.value">{{bc.value}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>

              <div class="flex flex-col pr-2 mob-param-block">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Діаметр:</label>
                <div class="relative">
                  <select
                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option [value]="offer.defaultDiameter" [disabled]="true">{{offer.defaultDiameter}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex items-center flex-col">
            <span>
              <svg (click)="deleteOfferFromList(offer)" class="w-8 h-8 delete-button" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
              </svg>
            </span>
            <span class="whitespace-no-wrap mt-10 font-medium price">{{offer.price * offer.quantity}} грн.</span>
          </div>
        </div>

        <h2 *ngIf="item.solutions.length !== 0"
            class="text-lg text-gray-900 font-medium title-font mb-4 mx-auto flex justify-center title-mob-heading">Розчини</h2>
        <div class="flex flex-row mob-items-container" *ngFor="let solution of item.solutions">
          <img class="xl:w-32 lg:w-1/5 md:w-1/2 w-2/3 block mx-auto mb-10 object-cover object-center rounded mob-img" alt="hero"
               src="https://dummyimage.com/720x600">
          <div class="flex flex-col text-left w-full ml-8">
            <h1 class="text-xl font-medium title-font mb-4 text-gray-900 title-mob">{{solution.name}}</h1>
            <div class="flex flex-row flex-wrap">
              <div class="flex flex-col pr-2 mob-param-block">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Кількість:</label>
                <div class="relative">
                  <select (change)="changeSolutionQuantity(item, $event, solution.id)"
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option *ngFor="let quantity of lenseQuantity" [selected]="solution.quantity === quantity.value" [value]="quantity.value">{{quantity.value}}</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="flex flex-col">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 title-mob-param">Об'єм:</label>
                <div class="relative">
                  <select
                          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                    <option [value]="solution.solutionValue">{{solution.solutionValue}} ml</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex items-center flex-col">
            <span>
              <svg (click)="deleteSolutionFromList(solution)" class="w-8 h-8 delete-button" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
              </svg>
            </span>
            <span class="whitespace-no-wrap mt-10 font-medium price">{{solution.price * solution.quantity}} грн.</span>
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="orderStep === 1">
      <div class="deliveries-payments-recapitulation-wrapper flex flex-row shadow sm:rounded-lg">
        <div class="deliveries-payments-surcharges">
          <span class="deliveries-header font-sans">Оберіть спосіб доставки замовлення</span>
          <div class="deliveries-wrapper">

            <form class="flex flex-col" [formGroup]="deliveryForm">
              <div class="flex flex-row items-center pb-6">
                <label class="inline-flex items-center mt-3">
                  <input formControlName="novaPoshta" type="checkbox" (click)="changeSelectionOfDeliveryType()" class="form-checkbox h-5 w-5 text-red-600 mr-2">
                  <span><img class="w-16 h-6" src="../../../assets/nova-poshta-logo.png" alt="novaposhta"></span>
                  <span class="ml-2 text-gray-700 font-medium pr-4">У відділення Нової пошти</span>
                  <span class="text-sm flex items-center text-green-400">(3-5 робочих днів по прибуттю в Україну)</span>
                </label>
              </div>
              <div class="flex flex-row pb-10">
                <label class="inline-flex items-center mt-3">
                  <input formControlName="ukrPoshta" (click)="changeSelectionOfDeliveryType()" type="checkbox" class="form-checkbox h-5 w-5 text-orange-600 mr-2" >
                  <span><img class="w-20 h-6" src="../../../assets/ukposhta-logo.png" alt="ukrposhta"></span>
                  <span class="ml-2 text-gray-700 font-medium pr-4">У відділення Укрпошти</span>
                  <span class="text-sm text-green-400">(3-5 робочих днів по прибуттю в Україну)</span>
                </label>
              </div>
              <div class="orderDeliveryTime pb-4">
                Передбачувана дата відправки п'ятниця <span class="font-medium">16 жовтня</span>
              </div>
              <span class="deliveries-header hr-line pt-4 font-sans">Оберіть спосіб оплати замовлення</span>
              <div class="flex flex-row pb-6">
                <input formControlName="inPost" (click)="changeSelectionOfPaymentType()" type="checkbox" class="form-checkbox h-5 w-5 text-red-600">
                <span><img class="w-16 h-6" src="../../../assets/wallet.svg" alt="wallet"></span>
                <span class="ml-2 text-gray-700 font-medium">Оплата при отрманні</span>
              </div>
              <div class="flex flex-row pb-6">
                <input formControlName="byCardPay" (click)="changeSelectionOfPaymentType()" type="checkbox" class="form-checkbox h-5 w-5 text-red-600" >
                <span><img class="w-16 h-6" src="../../../assets/card.svg" alt="creditcard"></span>
                <span class="ml-2 text-gray-700 font-medium">Оплата карткою</span>
              </div>
            </form>
          </div>
        </div>
        <div class="checkout-basket-wrapper deliveries-checkout-basket-wrapper mx-auto" *ngFor="let item of cartItems">
          <div id="snippet-basket">
            <div class="checkout-basket">
              <h2 class="checkout-basket-title">Кошик містить</h2>
              <table class="table-auto scroll">
                <thead>
                  <tr>
                    <th class="pr-4 py-2 w-full font-semibold">Товарна позиція</th>
                    <th class="pr-6 py-2 w-1/4 font-semibold">Кількість</th>
                    <th class="pr-4 py-2 w-1/4 font-semibold">Ціна</th>
                  </tr>
                </thead>
                <tbody class="h-container w-full overflow-y-scroll">
                  <tr *ngFor="let care of item.drops">
                    <td class="border-b pr-4 py-2 item-color text-left w-3/5">
                      <span class="product-basket-name text-sm font-medium">{{care.name}}</span>
                      <div class="checkout-basket-product-info-params">Об'єм:: <b>{{care.cvalue}} ml</b></div>
                    </td>
                    <td class="border-b pr-4 py-2 text-center">{{care.quantity}}</td>
                    <td class="border-b pr-4 py-2 checkout-basket-price text-sm whitespace-no-wrap font-medium">{{care.price * care.quantity}} грн</td>
                  </tr>
                  <tr *ngFor="let lens of item.lenses">
                    <td class="border-b pr-4 py-2 item-color text-left w-3/5">
                      <span class="product-basket-name text-sm font-medium">{{lens.name}}</span>
                      <div class="checkout-basket-product-info-params">Діоптрії:: <b>{{lens.diopters}}</b></div>
                      <div *ngIf="lens.hasCylinder" class="checkout-basket-product-info-params">Циліндр:: <b>{{lens.cylinder}}</b></div>
                      <div *ngIf="lens.hasAxis" class="checkout-basket-product-info-params">Вісь:: <b>{{lens.axis}}</b></div>
                      <div class="checkout-basket-product-info-params">Кривизна:: <b>{{lens.defaultBC}}</b></div>
                      <div class="checkout-basket-product-info-params">Діаметр:: <b>{{lens.defaultDiameter}}</b></div>
                    </td>
                    <td class="border-b pr-4 py-2 text-center w-1/4">{{lens.quantity}}</td>
                    <td class="border-b pr-4 py-2 checkout-basket-price text-sm whitespace-no-wrap font-medium w-1/4">{{lens.price * lens.quantity}} грн</td>
                  </tr>
                  <tr *ngFor="let offer of item.offers">
                    <td class="border-b pr-4 py-2 item-color text-left w-3/5">
                      <span class="product-basket-name text-sm font-medium">{{offer.name}}</span>
                      <div class="checkout-basket-product-info-params">Діоптрії:: <b>{{offer.diopters}}</b></div>
                      <div *ngIf="offer.hasCylinder" class="checkout-basket-product-info-params">Циліндр:: <b>{{offer.cylinder}}</b></div>
                      <div *ngIf="offer.hasAxis" class="checkout-basket-product-info-params">Вісь:: <b>{{offer.axis}}</b></div>
                      <div class="checkout-basket-product-info-params">Кривизна:: <b>{{offer.defaultBC}}</b></div>
                      <div class="checkout-basket-product-info-params">Діаметр:: <b>{{offer.defaultDiameter}}</b></div>
                    </td>
                    <td class="border-b pr-4 py-2 text-center w-1/4">{{offer.quantity}}</td>
                    <td class="border-b pr-4 py-2 checkout-basket-price text-sm whitespace-no-wrap font-medium w-1/4">{{offer.price * offer.quantity}} грн</td>
                  </tr>
                  <tr  *ngFor="let solution of item.solutions">
                    <td class="border-b pr-4 py-2 item-color text-left w-3/5">
                      <span class="product-basket-name text-sm font-medium">{{solution.name}}</span>
                      <div class="checkout-basket-product-info-params">Об'єм:: <b>{{solution.solutionValue}} ml</b></div>
                    </td>
                    <td class="border-b pr-4 py-2 text-center w-1/4">{{solution.quantity}}</td>
                    <td class="border-b pr-4 py-2 checkout-basket-price text-sm whitespace-no-wrap font-medium w-1/4">{{solution.price * solution.quantity}} грн</td>
                  </tr>
                </tbody>
                <tbody class="checkout-basket-separator">
                  <tr>
                    <th colspan="3"></th>
                  </tr>
                </tbody>
                <tbody class="checkout-basket-prices">
                  <tr class="flex flex-row justify-between">
                    <th class="text-left pt-2">Сплачуєте при отриманні</th>
                    <th class="checkout-basket-price price-line pt-2">{{priceToPayAfterDelivery}} грн.</th>
                  </tr>
                  <tr class="flex flex-row justify-between">
                    <th class="text-left pb-2">Сплачуєте зараз</th>
                    <th class="checkout-basket-price price-line pb-2">{{priceToPayNow}} грн.</th>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <th colspan="3">
                      <span class="flex flex-row text-2xl justify-center mx-auto py-5">Загальна вартість <span
                        class="text-red-500 pl-4">{{totalPrice}} грн.</span></span>
                    </th>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="orderStep === 2">
      <div *ngIf="token.getToken()" class="mb-4" [formGroup]="authUserDataForm">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
          <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Інформація про доставку
            </h3>
            <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
              Персональна інформація.
            </p>
          </div>
          <div>
            <dl>
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Full name
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  {{authUserData?.firstName}} {{authUserData?.lastName}}
                </dd>
              </div>
              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Телефон
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  {{authUserData?.phone}}
                </dd>
              </div>
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Email
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
                  {{authUserData?.email}}
                </dd>
              </div>
              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6" *ngIf="deliveryForm.controls.ukrPoshta.value === true">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Поштовий індекс
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-1 sm:col-span-2 relative w-1/2">
                  <input formControlName="userAuthPostIndex" class="shadow-sm appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  type="text" placeholder="Поштовий індекс" autocomplete="off">
                </dd>
              </div>
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  About
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-1">
                  {{authUserData?.location}}, {{authUserData?.warehouse}}, відділення № {{authUserData?.number}}
                </dd>
                <span class="mt-1 pr-4 text-sm leading-5 text-indigo-600 sm:mt-0 sm:col-span-1 text-right hover:text-indigo-500 transition duration-150 ease-in-out" (click)="toUpdateUserNPDeliveryAddress()">Update</span>
              </div>
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Коментар до замовлення
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-1 flex flex-row">
                  <textarea formControlName="customerAuthComment"  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-comment" type="text" placeholder="Залиште уточнення..."></textarea>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div *ngIf="!token.getToken()" class="mb-4">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
          <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Інформація про доставку
            </h3>
            <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 px-4 py-2 mt-1" role="alert">
              <p class="font-bold">Зверніть увагу</p>
              <p class="text-sm">Ви не є авторизованим користувачем! Для отримання можливості слідкувати за статусом замовлення та іншим рекомендуємо <a routerLink="/register">зареєструватись</a> на сайті!</p>
            </div>
          </div>
          <div>
            <dl [formGroup]="userDataForm">
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Повне ім'я
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-1 flex flex-row">
                  <input formControlName="userFirstName" class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="firstName" type="text" placeholder="Ваше ім'я">
                  <input formControlName="userLastName" class="shadow-sm appearance-none border rounded w-full py-2 px-3 ml-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="lastName" type="text" placeholder="Ваше прізвище">
                </dd>
              </div>
              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Телефон
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-1">
                  <input formControlName="userPhone" class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="phone" type="number" placeholder="Ваш телефон">
                </dd>
              </div>
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Email
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-1">
                  <input formControlName="userEmail" class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="Email">
                </dd>
              </div>
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Адреса
                </dt>
                <div class="flex flex-col">
                  <ng-container *ngIf="deliveryForm.controls.novaPoshta.value === true">
                    <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-1 relative">
                      <input formControlName="userCity" (input)="valueChangedLocation($event.target)" (focus)="focusedLocation = true" (blur)="setSettlements()" class="shadow-sm relative block appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Населений пункт" autocomplete="off">
                      <ul class="bg-white list-tips px-3 absolute" *ngIf="focusedLocation">
                        <li class="text-sm hover:text-red-500 pt-1" *ngFor="let location of locationNPList" (click)="addLocationToForm(location)">{{location.Present}}</li>
                      </ul>
                    </dd>
                    <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-1 sm:col-span-2 relative w-1/2">
                      <input formControlName="userWarehouseNumber" (focus)="focusedNumber = true" (blur)="setWarehouse()" class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  type="text" placeholder="Номер відділення" autocomplete="off">
                      <ul class="bg-white list-tips absolute px-3 py-2" *ngIf="focusedNumber">
                        <li class="text-sm hover:text-red-500" *ngFor="let number of numberNPList" (click)="addNumberToForm(number)"><span>№</span> <span class="font-bold pl-2">{{number.Number}}</span> </li>
                      </ul>
                    </dd>
                  </ng-container>
                  <ng-container *ngIf="deliveryForm.controls.ukrPoshta.value === true">
                    <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-1 sm:col-span-2 relative w-1/2">
                      <input formControlName="userPostIndex" class="shadow-sm appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  type="text" placeholder="Поштовий індекс" autocomplete="off">
                    </dd>
                  </ng-container>
                </div>
              </div>


              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Деталі адреси
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-1 flex flex-row">
                  <textarea formControlName="aboutWarehouse"  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-desc" type="text" placeholder="Не знайшли свого відділення?"></textarea>
                </dd>
              </div>
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                  Коментар до замовлення
                </dt>
                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-1 flex flex-row">
                  <textarea formControlName="customerComment"  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-comment" type="text" placeholder="Залиште уточнення..."></textarea>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cartItems && orderStep === 0" class="flex justify-end my-4">
      <span class="md:text-xl">Загальна вартість: <span class="text-red-500 font-bold">{{totalPrice}} грн</span></span>
    </div>
    <div class="flex justify-between">
      <div [ngClass]="{'mx-auto mt-10': !cartItems}">
        <button
          class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
          (click)="prevStep()">
          Продовжити покупки
        </button>
      </div>
      <div *ngIf="cartItems && orderStep !== 2">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="nextStep(cartItems)">
          Перейти до замовлення
        </button>
      </div>
      <div *ngIf="orderStep === 2">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="checkOut()">
          Оформити замовлення
        </button>
      </div>
    </div>

  </div>
</section>
<div *ngIf="cartErrorMsg" class="alert-message-column">
  <div class="text-center py-4 lg:px-4 alert-message">
    <div class="p-2 bg-red-400 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex alert-message-new" role="alert" *ngFor="let cartError of cartListErrors">
      <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg></span>
      <span class="font-semibold mr-2 text-left flex-auto">{{cartError}}</span>
      <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    </div>
  </div>
</div>
