.deliveries-payments-recapitulation-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  //border: 1px solid #d9e5e8;
}
.deliveries-payments-surcharges {
  width: 67%;
  border: none;
  border-right: 1px solid #d9e5e8;
  padding: 20px 30px;
}
.checkout-basket-wrapper {
  padding: 20px 30px;
}
.checkout-basket-product-info-params{
  font-size: 11px;
}
.deliveries-header {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.deliveries-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.payments-wrapper {
  padding-top: 15px;
  border-top: 1px solid #d9e5e8;
}
.checkout-basket-title {
  display: block;
  margin-bottom: 20px;
  font-family: 'Roboto Medium';
  font-size: 13px;
  color: #253746;
  text-align: center;
  text-transform: uppercase;
}
.checkout-basket-separator {
  display: block;
  height: 80px;
}
.checkout-basket-prices {
  border-top: 1px solid #d9e5e8;
  border-bottom: 1px solid #d9e5e8;
}
.checkout-basket-price {
  text-align: right;
}
.delete-button {
  color: #dfe3e8;
  &:hover {
    color: #d63511;
  }
}
.price {
  color: #ef5e67;
}
.hr-line {
  border-top: 1px solid #d9e5e8;
}
.item-color {
  color: #b1b3b3;
}
.alert-message {
  position: absolute;
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  &-column {
    display: flex;
    flex-direction: column;
  }
  &-new {
    margin-top: 10px;
  }
}
.product-basket-name {
  color: #253746;
}
.price-line {
  white-space: nowrap !important;
}
.full {
  width: 100% !important;
}
table.scroll {
  width: 100%;
}

table.scroll tbody,
table.scroll thead { display: block; }

.h-container {
  height: 17rem;
  max-height: 17rem;
}
