.deliveries-payments-recapitulation-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin-bottom: 1rem;
}
.deliveries-payments-surcharges {
  width: 67%;
  border: none;
  border-right: 1px solid #d9e5e8;
  padding: 20px 30px;
}
.checkout-basket-wrapper {
  padding: 20px 30px;
}
.checkout-basket-product-info-params{
  font-size: 11px;
}
.deliveries-header {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.deliveries-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.payments-wrapper {
  padding-top: 15px;
  border-top: 1px solid #d9e5e8;
}
.checkout-basket-title {
  display: block;
  margin-bottom: 20px;
  font-family: 'Roboto Medium';
  font-size: 13px;
  color: #253746;
  text-align: center;
  text-transform: uppercase;
}
.checkout-basket-separator {
  display: block;
  height: 60px;
}
.checkout-basket-prices {
  border-top: 1px solid #d9e5e8;
  border-bottom: 1px solid #d9e5e8;
}
.checkout-basket-price {
  text-align: right;
}
.delete-button {
  color: #dfe3e8;
  &:hover {
    color: #d63511;
  }
}
.price {
  color: #ef5e67;
}
.hr-line {
  border-top: 1px solid #d9e5e8;
}
.item-color {
  color: #b1b3b3;
}
.alert-message {
  position: absolute;
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  &-column {
    display: flex;
    flex-direction: column;
  }
  &-new {
    margin-top: 10px;
  }
}
.product-basket-name {
  color: #253746;
}
.price-line {
  white-space: nowrap !important;
}
.full {
  width: 100% !important;
}
table.scroll {
  width: 100%;
}

table.scroll tbody,
table.scroll thead { display: block; }

.h-container {
  height: 17rem;
  max-height: 17rem;
}
.list-tips {
  position: absolute;
  min-height: 50px;
  max-height: 200px;
  filter: drop-shadow(0 0 3px rgba(1, 3, 4, 0.19)) !important;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  z-index: 2;
  overflow-y: scroll;
  width: 100%;
  &-parent {
    position: relative;
  }
  &-li {
    height: 45px;
    font-size: 13px;
    padding: 3px;
    cursor: pointer;
    &-timezone {
      font-size: 12px;
      color: #aaa;
    }
  }
  &-li:hover {
    background: #fafafa;
  }
}

@media screen and (max-width: 1280px){
  .mob-title-delivery {
    font-size: 0.875rem;
    &-date {
      font-size: 0.5rem;
    }
  }
  .mob-title-payment {
    font-size: 1rem;
    &-total {
      font-size: 1.25rem;
    }
  }
  .mob-item-name {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 1023px){
  .mob-img {
    width: 20%;
    margin-bottom: 0px;
  }
  .mob-items-container {
    margin-bottom: 2rem;
    align-items: center;
  }
  .tabs-mob {
    flex-direction: row;
    &-a {
      font-size: 13px;
    }
  }
  .mob-param-block {
    margin-bottom: 0.375rem;
  }
  .title-mob {
    font-size: 1.125rem;
    &-param {
      font-size: 0.50rem;
      margin-bottom: 0.35rem;
    }
    &-heading {
      font-size: 1rem;
    }
  }
  .mob-title-delivery {
    font-size: 0.675rem;
    &-date {
      font-size: 0.3rem;
    }
  }
  .mob-title-payment {
    font-size: 0.875rem;
    &-total {
      font-size: 1rem;
    }
  }
  .mob-item-name {
    font-size: 0.75rem;
  }
  .mob-delivery-img {
    height: 1.2rem;
  }
  .mob-table-title {
    font-size: 0.775rem;
  }
  .input-props {
    width: 0.875rem;
    height: 0.875rem;
  }
  .banner-mob {
    font-size: 0.65rem;
    &-heading {
      font-size: 0.875rem;
    }
  }
}

@media screen and (max-width: 768px){
  .tabs-mob {
    flex-direction: row;
    margin-bottom: 2rem;
    &-a {
      font-size: 11px;
      text-align: center;
      &-svg {
        display: none;
      }
    }
  }
  .deliveries-payments-recapitulation-wrapper {
    flex-direction: column;
  }
  .deliveries-payments-surcharges {
    border-right: none;
    margin: 0 auto;
    border-bottom: 1px solid #d9e5e8;
    padding-bottom: 0;
  }
  .mob-date {
    display: block;
  }
  .mob-date-none {
    display: none;
  }
  .mb-d {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 640px){
  .tabs-mob {
    flex-direction: row;
    &-a {
      font-size: 10px;
      width: 30%;
    }
  }
  .delete-block {
    display: none;
  }
  .delete-block-mob {
    display: block;
  }
  .mob-resp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .mob-items-container {
    flex-direction: column;
  }
  .mob-img {
    margin-left: 0rem;
    margin-right: 0rem;
    width: 25%;
  }
  .title-mob {
    font-size: 1rem;
    &-param {
      font-size: 0.70rem;
      margin-bottom: 0.35rem;
    }
    &-heading {
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }
  .param-block-wrapper {
    margin-left: 0;
  }
  .mob-param-block{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .mob-container {
    padding: 1rem;
  }
  .pr-2 {
    padding-right: 0;
  }
  .delete-button {
    margin-bottom: 1rem;
  }
  .deliveries-payments-surcharges {
    border-right: none;
    width: auto;
    margin: 0 auto;
    border-bottom: 1px solid #d9e5e8;
    padding-bottom: 0;
  }
  .mob-delivery-img {
    width: 3.6rem;
  }
  .mb-fix {
    padding-bottom: 1.5rem;
  }
}
@media screen and (max-width: 500px){
  .btn-mob {
    font-size: 13px;
  }
}
@media screen and (max-width: 410px){
  .btn-mob {
    font-size: 11px;
  }
  .mob-title-payment-heading {
    font-size: 0.875rem;
    &-total-heading {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 365px){
  .btn-mob {
    font-size: 10px;
  }
}
@media screen and (max-width: 340px){
  .btn-mob {
    font-size: 9px;
  }
}
