<footer class="text-gray-700 body-font">
  <div class="container px-5 py-20 mx-auto">
    <div class="flex flex-wrap md:text-left text-center order-first">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">КОНТАКТНІ ЛІНЗИ</h2>
        <nav class="list-none mb-10">
          <li *ngFor="let lensType of lenseTypeList" (click)="filterLens(lensType)">
            <span class="text-gray-600 hover:text-gray-800 hover-pointer">{{lensType.name}}</span>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">ІНФОРМАЦІЯ</h2>
        <nav class="list-none mb-10">
          <li>
            <a (click)="howToBuy()" class="text-gray-600 hover:text-gray-800 hover-pointer">Як це працює?</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800 hover-pointer">Розчини</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800 hover-pointer">Контактні лінзи</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800 hover-pointer">Догляд</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">КЛІЄНТАМ</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800 hover-pointer"></a>
          </li>
          <li>
            <a href="https://t.me/g_zholinska" class="text-gray-600 hover:text-gray-800 hover-pointer">Телеграм</a>
          </li>
          <li>
            <a href="https://www.instagram.com/linza.nova/?hl=ru" class="text-gray-600 hover:text-gray-800 hover-pointer">Інстаграм</a>
          </li>
          <li>
            <a href="https://www.facebook.com/messages/t/100016099457792" class="text-gray-600 hover:text-gray-800 hover-pointer">Messenger</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">SUBSCRIBE</h2>
        <div class="flex xl:flex-no-wrap md:flex-no-wrap lg:flex-wrap flex-wrap justify-center md:justify-start">
<!--          <input class="w-40 sm:w-auto bg-gray-100 rounded xl:mr-4 lg:mr-0 sm:mr-4 mr-2 border border-gray-400 focus:outline-none focus:border-indigo-500 text-base py-1 px-2" placeholder="linzanova18@gmail.com" type="text">-->
        </div>
        <p class="text-gray-500 text-sm mt-2 md:text-left text-center">Підписуйтесь на нашу email розсилку, щоб знати про всі новинки
        </p>
      </div>
    </div>
  </div>
  <div class="bg-gray-200">
    <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <svg viewBox="0 0 31 31" xmlns="http://www.w3.org/2000/svg" fill="#667eea" stroke="#667eea" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white pct rounded-full">
          <g transform="matrix(0.049785, 0, 0, 0.049785, 3.114944, 3.388505)">
            <g>
              <g>
                <path d="M207.65,281.6c-21-21-94-65.9-147.8-53.3L216.55,385C251.75,338,226.65,300.6,207.65,281.6z"/>
                <path d="M302.55,185.9c-60.7-60.7-158.7-60.7-219.3,0l-21,21c71.4-6.9,136.1,37.3,159.1,60.7c29.2,29.2,51.6,77.6,8.9,131.4 l91.4,91l144.3-140.8L302.55,185.9z"/>
                <ellipse cx="208.75" cy="34.6" rx="184.7" ry="34.6"/>
                <path d="M383.35,67.7c-37.4,14.7-124.1,21.4-174.6,21.4s-140.1-7.6-174.6-21.4c25.3,39.7,93.7,68.1,174.6,68.1 S358.15,107.3,383.35,67.7z"/>
              </g>
            </g>
          </g>
        </svg>
        <span class="ml-3 text-xl">linzanova</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2020 linzanova —
        <a href="https://www.instagram.com/linza.nova/?hl=ru" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@linza.nova</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500" href="https://www.instagram.com/linza.nova/?hl=ru">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
