<div id="navWrapper" class="h-full overflow-y-auto scrolling-touch lg:h-auto lg:relative lg:sticky lg:bg-transparent overflow-hidden bg-white">
  <nav class="px-6 pt-6 overflow-y-auto text-base lg:text-sm lg:py-0 lg:pl-6 lg:pr-8 sticky?lg:h-(screen-16) sm:flex-wrap sm:flex sm:flex-row sm:justify-between nav-query">
    <div class="mb-10 sm:w-1/2 lg:w-auto xl:w-auto">
      <h5 class="mb-3 lg:mb-2 uppercase tracking-wide font-bold text-sm lg:text-xs text-gray-500">Типи контактних лінз</h5>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3 whitespace-no-wrap">Одноденні лінзи</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3 whitespace-no-wrap">Двотижневі лінзи</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3 whitespace-no-wrap">Місячні лінзи</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3 whitespace-no-wrap">Торичні лінзи</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3 whitespace-no-wrap">Кольорові лінзи</span>
      </a>
    </div>
    <div class="mb-8 sm:w-1/2 lg:w-auto xl:w-auto">
      <h5 class="mb-3 lg:mb-2 uppercase tracking-wide font-bold text-sm lg:text-xs text-gray-500">Бренди контактних лінз</h5>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3">Acuvue</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3">Proclear</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3">Air Optix</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3">PureVision</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3">Biofinity</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3">SofLens</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3">PureVision</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3">Dailies</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3">opVue</span>
      </a>
      <a href="/docs/installation" class="flex items-center px-2 -mx-2 py-1 hover:text-gray-900 font-medium text-gray-900">
        <svg class="h-6 w-6" viewBox="0 0 24 24"><path class="text-gray-400 fill-current" d="M12 21a2 2 0 0 1-1.41-.59l-.83-.82A2 2 0 0 0 8.34 19H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4a5 5 0 0 1 4 2v16z"></path><path class="text-gray-700 fill-current" d="M12 21V5a5 5 0 0 1 4-2h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4.34a2 2 0 0 0-1.42.59l-.83.82A2 2 0 0 1 12 21z"></path></svg>
        <span class="ml-3">FreshLook</span>
      </a>
    </div>
  </nav>
</div>
