.adding-button {
  border: 1px solid #1a202c;
}
.item-title {
  height: 52px;
  overflow: hidden;
}
.c-green {
  color: #00b01c;
  font-size: 12px;
}
.c-grey {
  color: #797878;
  font-size: 12px;
}
.price-color {
  color: #f84147;
}
.cursor-pointer-hover:hover {
  cursor: pointer;
}
.indigo {
  --tw-text-opacity: 1;
  color: rgba(99, 102, 241, var(--tw-text-opacity));
}

@media screen and (min-width: 1283px){
  .nav-resp {
    display: none;
  }
}

@media screen and (max-width: 1282px) {
  .search-mob {
    margin-bottom: 1rem;
  }
}
