<header class="flex text-gray-700 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center header-resp">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" [routerLink]="['/']">
      <svg viewBox="0 0 31 31" xmlns="http://www.w3.org/2000/svg" fill="#667eea" stroke="#667eea" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white pct bg-white rounded-full">
        <g transform="matrix(0.049785, 0, 0, 0.049785, 3.114944, 3.388505)">
          <g>
            <g>
              <path d="M207.65,281.6c-21-21-94-65.9-147.8-53.3L216.55,385C251.75,338,226.65,300.6,207.65,281.6z"/>
              <path d="M302.55,185.9c-60.7-60.7-158.7-60.7-219.3,0l-21,21c71.4-6.9,136.1,37.3,159.1,60.7c29.2,29.2,51.6,77.6,8.9,131.4 l91.4,91l144.3-140.8L302.55,185.9z"/>
              <ellipse cx="208.75" cy="34.6" rx="184.7" ry="34.6"/>
              <path d="M383.35,67.7c-37.4,14.7-124.1,21.4-174.6,21.4s-140.1-7.6-174.6-21.4c25.3,39.7,93.7,68.1,174.6,68.1 S358.15,107.3,383.35,67.7z"/>
            </g>
          </g>
        </g><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/>
      </svg>
      <span class="ml-3 text-xl">Linzanova</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900 cursor-pointer" (click)="goContactLenses()">Контактні лінзи</a>
      <a class="mr-5 hover:text-gray-900 cursor-pointer" (click)="goSolutions()">Розчини</a>
      <a class="mr-5 hover:text-gray-900 cursor-pointer" (click)="goCares()">Догляд за очима</a>
    </nav>
    <div class="inline-flex items-center">
      <app-cart-modal></app-cart-modal>
      <svg *ngIf="!isLoggedIn" (click)="goLogin()" class="w-10 h-10 cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
      <svg *ngIf="isLoggedIn" (click)="goCabinet()"  class="w-10 h-10 cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
    </div>
  </div>

  <div class="w-full header-resp-mob">
    <div class="container flex p-5 mx-auto flex-row items-center justify-between header-resp-mob">
      <div>
        <a class="flex title-font font-medium items-center text-gray-900 md:mb-0" [routerLink]="['/']">
          <svg viewBox="0 0 31 31" xmlns="http://www.w3.org/2000/svg" fill="#667eea" stroke="#667eea" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white pct bg-white rounded-full">
            <g transform="matrix(0.049785, 0, 0, 0.049785, 3.114944, 3.388505)">
              <g>
                <g>
                  <path d="M207.65,281.6c-21-21-94-65.9-147.8-53.3L216.55,385C251.75,338,226.65,300.6,207.65,281.6z"/>
                  <path d="M302.55,185.9c-60.7-60.7-158.7-60.7-219.3,0l-21,21c71.4-6.9,136.1,37.3,159.1,60.7c29.2,29.2,51.6,77.6,8.9,131.4 l91.4,91l144.3-140.8L302.55,185.9z"/>
                  <ellipse cx="208.75" cy="34.6" rx="184.7" ry="34.6"/>
                  <path d="M383.35,67.7c-37.4,14.7-124.1,21.4-174.6,21.4s-140.1-7.6-174.6-21.4c25.3,39.7,93.7,68.1,174.6,68.1 S358.15,107.3,383.35,67.7z"/>
                </g>
              </g>
            </g><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/>
          </svg>
        </a>
      </div>

      <div class="flex flex-row items-center">
        <app-cart-modal (setHeaderClosed)="setClosedLink($event)" [mbWidth]="true"></app-cart-modal>
        <svg *ngIf="!isLoggedIn" (click)="goLogin()" class="w-10 h-8 cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        <svg *ngIf="isLoggedIn" (click)="goCabinet()"  class="w-10 h-8 cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
      </div>

      <div>
        <button type="button" class="block text-gray-500 out-none md:hidden" (click)="isOpen = !isOpen">
          <svg class="w-8 h-18" fill="none" stroke="currentColor" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
            <path *ngIf="!isOpen" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            <path *ngIf="isOpen" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
    <nav [ngClass]="(isOpen) ? 'block shadow-md rounded': 'hidden'" class="md:ml-auto absolute w-full bg-white z-10 flex flex-col items-center text-base justify-center header-resp-mob">
      <a class="hover:text-gray-900 cursor-pointer" (click)="goContactLenses()">Контактні лінзи</a>
      <a class="pt-2 hover:text-gray-900 cursor-pointer" (click)="goSolutions()">Розчини</a>
      <a class="py-2 hover:text-gray-900 cursor-pointer" (click)="goCares()">Догляд за очима</a>
    </nav>
  </div>

</header>
