<section class="2xl:w-9/12 2xl:mx-auto xl:w-9/12 xl:mx-auto xl:w-9/12 xl:mx-auto lg:w-9/12 lg:mx-auto md:w-10/12 md:mx-auto py-8 pt-mob pt-10 mob-block-p">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg" *ngIf="loader">
    <div class="px-4 py-5 sm:px-6 flex flex-col">
      <ngx-skeleton-loader [theme]="{'margin-bottom': '0px', 'width':'25%'}"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{'margin-bottom': '0px', 'width':'15%'}"></ngx-skeleton-loader>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Повне ім'я
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <ngx-skeleton-loader [theme]="{'margin-bottom': '0px', 'width':'25%'}"></ngx-skeleton-loader>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Чи отримано кур'єром
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <ngx-skeleton-loader  [theme]="{'margin-bottom': '0px', 'width':'14rem', 'margin-top':'5px'}"></ngx-skeleton-loader>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Номер накладної
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <ngx-skeleton-loader  [theme]="{'margin-bottom': '0px', 'width':'14rem', 'margin-top':'5px'}"></ngx-skeleton-loader>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Email address
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <ngx-skeleton-loader [theme]="{'margin-bottom': '0px', 'width':'25%'}"></ngx-skeleton-loader>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Загальна вартість
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <ngx-skeleton-loader [theme]="{'margin-bottom': '0px', 'width':'25%'}"></ngx-skeleton-loader>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Коментар замовлення
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex flex-col">
            <ngx-skeleton-loader [theme]="{'margin-bottom': '0px'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{'margin-bottom': '0px'}"></ngx-skeleton-loader>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Адреса
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex flex-col">
            <ngx-skeleton-loader [theme]="{'margin-bottom': '0px', 'width':'14rem'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="{'margin-bottom': '0px', 'width':'14rem'}"></ngx-skeleton-loader>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Товар
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex flex-col">
            <ngx-skeleton-loader  [theme]="{'margin-bottom': '0px', 'width':'14rem', 'margin-top':'5px'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader  [theme]="{'margin-bottom': '0px', 'width':'14rem', 'margin-top':'5px'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader  [theme]="{'margin-bottom': '0px', 'width':'14rem', 'margin-top':'5px'}"></ngx-skeleton-loader>
          </dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="bg-white shadow overflow-hidden sm:rounded-lg" *ngIf="!loader">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Замовлення №{{currentOrder?.id}}
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        Дата створення {{currentOrder?.createdAt}}
      </p>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Ім'я
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{currentOrder.firstName}} {{currentOrder.lastName}} {{currentOrder?.patronymic}}
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Чи отримано кур'єром | трек-номер
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{currentOrder?.meestTrackingId ? 'Отримано на складі за кордоном': 'Ще не отримано'}} | <app-tracking-modal [trackingNumber]="currentOrder?.meestTrackingId"></app-tracking-modal>
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Номер накладної
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{currentOrder?.novaPoshtaTTN ? currentOrder.novaPoshtaTTN : 'Ще не відправлено'}}
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Email
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{currentOrder.userEmail}}
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Вартість замовлення
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{currentOrder?.totalSumm}} &#8372;
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Коментар
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{currentOrder?.customerComment}}
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Адреса
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <div class="flex flex-col" *ngIf="currentOrder.delivery.deliveryType && currentOrder.delivery.deliveryType === 'np'">
              <span><span class="italic">Відділення:</span> <span class="font-medium mob-text"> {{currentOrder.delivery.cityName}}</span></span>
              <span><span class="italic">Деталі адреси:</span> <span class="font-medium mob-text"> {{currentOrder.delivery.description}}</span></span>
              <span><span class="italic">Номер відділення:</span> <span class="font-medium mob-text"> №{{currentOrder.delivery.warehouseNumber}}</span></span>
            </div>
            <div class="flex flex-col" *ngIf="currentOrder.delivery.deliveryType && currentOrder.delivery.deliveryType === 'ukr'">
              <span><span class="italic">Поштовий індекс:</span> <span class="font-medium mob-text"> {{currentOrder.delivery.postIndex}}</span></span>
            </div>
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Замовлення
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <div class="py-3 text-sm">
              <div *ngFor="let prop of properties" class="flex justify-start items-center cursor-pointer text-gray-700 hover:text-blue-400 hover:bg-blue-100 rounded-md pl-0 px-2 py-2 my-2">
                <span class="bg-gray-400 h-2 w-2 m-2 rounded-full"></span>
                <div class="flex-grow font-medium px-2 mob-text">{{prop}}</div>
              </div>
            </div>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>
