.search-height {
  height: 2.75rem;
}
.outilen-n {
  outline: none;
}
.list-tips {
  position: absolute;
  min-height: 50px;
  max-height: 200px;
  filter: drop-shadow(0 0 3px rgba(1, 3, 4, 0.19)) !important;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  z-index: 2;
  overflow-y: scroll;
  width: 100%;
  &-parent {
    position: relative;
  }
  &-li {
    height: 45px;
    font-size: 13px;
    padding: 3px;
    cursor: pointer;
    &-timezone {
      font-size: 12px;
      color: #aaa;
    }
  }
  &-li:hover {
    background: #fafafa;
  }
}
@media (max-width: 767px) {
  .search-width {
    padding-right: 9rem;
  }
}
@media screen and (max-width: 362px){
  .search-width {
    padding-right: 6rem;
  }
}
