<div class="flex justify-center mx-auto">
  <svg xmlns="http://www.w3.org/2000/svg" class="text-green-500 w-20 h-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
</div>
<div class="flex justify-center mx-auto -mb-2">
  <h1 mat-dialog-title>Вітаємо!</h1>
</div>
<div mat-dialog-content class="flex justify-center text-center -mt-2">
  <p class="w-9/12 mx-auto font-sans text-gray-600">Ваше замовлення прийнято.</p>
  <p class="w-9/12 mx-auto font-sans text-gray-600">Наш менеджер скоро зв'яжеться з вами для уточнення замовлення!</p>
</div>
<div mat-dialog-actions class="flex justify-center">
  <button mat-button [mat-dialog-close] (click)="dialogRef.close(true)"
    type="button" class="mat-button-success">
    На головну
  </button>
</div>
