.bordered {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.price-color {
  color: #f84147;
}
.c-green {
  color: #00b01c;
  font-size: 12px;
}
.c-grey {
  color: #797878;
  font-size: 12px;
}
.w36 {
  width: 9rem;
}
.m28 {
  margin-top: 7rem;
}
