<section class="text-gray-700 body-font overflow-hidden" *ngIf="loader">
  <div class="container px-5 py-24 mx-auto content-indent">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <ngx-skeleton-loader class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" [theme]="{'height':'100%'}"></ngx-skeleton-loader>
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <ngx-skeleton-loader [theme]="{'width': '25%'}"></ngx-skeleton-loader>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1"></h1>
        <div class="flex mb-3">
          <ngx-skeleton-loader class="w-1/2" ></ngx-skeleton-loader>
          <ngx-skeleton-loader class="w-1/2 ml-2" ></ngx-skeleton-loader>
        </div>
        <p class="leading-relaxed"></p>
        <div class="flex flex-wrap mt-6 items-center pb-3 border-b-2 border-gray-200 mb-5">
          <ngx-skeleton-loader class="w-1/4" [theme]="{'height':'2.25rem', 'margin-bottom': '0px'}"></ngx-skeleton-loader>
          <ngx-skeleton-loader class="w-1/4 ml-2" [theme]="{'height':'2.25rem', 'margin-bottom': '0px'}"></ngx-skeleton-loader>
          <ngx-skeleton-loader class="w-1/4 ml-2" [theme]="{'height':'2.25rem', 'margin-bottom': '0px'}"></ngx-skeleton-loader>
        </div>
        <div  class="flex flex-wrap mb-2">
          <ngx-skeleton-loader class="w-1/4" [theme]="{'height':'2.25rem'}"></ngx-skeleton-loader>
          <ngx-skeleton-loader class="w-1/4 ml-2" [theme]="{'height':'2.25rem'}"></ngx-skeleton-loader>
          <ngx-skeleton-loader class="w-1/4 ml-2" [theme]="{'height':'2.25rem'}"></ngx-skeleton-loader>
        </div>
        <div class="flex flex-wrap -mx-3 mb-2">
          <ngx-skeleton-loader class="w-1/3 ml-2" [theme]="{'height':'2.25rem'}"></ngx-skeleton-loader>
          <ngx-skeleton-loader class="w-1/3 ml-2" [theme]="{'height':'2.25rem'}"></ngx-skeleton-loader>
        </div>
        <div class="flex items-center">
          <ngx-skeleton-loader class="w-1/4 h-auto mt-2" [theme]="{'height':'2.25rem'}"></ngx-skeleton-loader>
          <ngx-skeleton-loader class="w-1/4 h-auto mt-2 ml-2" [theme]="{'height':'2.25rem'}"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-700 body-font overflow-hidden" *ngIf="!loader">
  <div class="container px-5 py-24 mx-auto content-indent">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="image-wrapper lg:w-1/2 w-full lg:h-auto h-64">
        <ngx-skeleton-loader *ngIf="imageLoader" class="object-cover object-center rounded pt-6" [theme]="{'height':'100%'}"></ngx-skeleton-loader>
        <img *ngIf="!imageLoader && photo" class="object-cover object-center rounded pt-6" [src]="photo">
      </div>
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font uppercase text-gray-500 tracking-widest">{{lens?.lenseBrand}}{{solution?.solutionBrand}}</h2>
        <h1 class="text-gray-900 text-2xl title-font font-medium mb-1">{{lens?.name}}{{solution?.name}}{{care?.name}}</h1>
        <div class="flex mb-4" bis_skin_checked="1">
          <a class="flex-grow border-b-2 py-2 text-lg px-1 cursor-p" [ngClass]="(tab === 0) ? 'text-indigo-500 border-indigo-500': 'border-gray-300'" (click)="changeTabView(0)">Інформація</a>
          <a class="flex-grow border-b-2 py-2 text-lg px-1 cursor-p" [ngClass]="(tab === 1) ? 'text-indigo-500 border-indigo-500': 'border-gray-300'" (click)="changeTabView(1)">Характеристики</a>
          <a class="flex-grow border-b-2 py-2 text-lg px-1 cursor-p" [ngClass]="(tab === 2) ? 'text-indigo-500 border-indigo-500': 'border-gray-300'" (click)="changeTabView(2)">Огляд</a>
        </div>
        <div *ngIf="tab === 0">
          <p class="leading-relaxed text-sm fon-semibold">{{lens?.description}}{{solution?.description}}{{care?.description}}</p>
          <div class="flex mt-5 items-center pb-4 border-b-2 border-gray-200 mb-5">
            <p *ngIf="lens" [ngClass]="(lens?.availability === true) ? 'c-green':'c-grey'">{{lens?.availability ? 'В наявності в Україні' : 'Під замовлення'}}</p>
            <p *ngIf="solution" [ngClass]="(solution?.availability === true) ? 'c-green':'c-grey'">{{solution?.availability ? 'В наявності в Україні' : 'Під замовлення'}}</p>
            <p *ngIf="care" [ngClass]="(care?.availability === true) ? 'c-green':'c-grey'">{{care?.availability ? 'В наявності в Україні' : 'Під замовлення'}}</p>
          </div>
          <div  class="flex flex-wrap flex-col mb-2">
            <div class="flex flex-row items-center mb-2">
              <div class="w-12 h-9"><img src="../../../assets/nova-poshta-logo.png" alt="nova-poshta"></div>
              <div class="pl-4 text-xs text-gray-500"> 5-10 робочих днів*</div>
            </div>
            <div class="flex flex-row items-center mb-2">
              <div class="w-12 h-9"><img src="../../../assets/ukposhta-logo.png" alt="ukr-poshta"></div>
              <div class="pl-4 text-xs text-gray-500"> 5-10 робочих днів*</div>
            </div>
            <div>
              <div class="text-xs text-gray-600">
                *Термін доставки є орієнтовним, вказується згідно з очікуваних термінів доставки транспортними компаніями. Іноді доставка може тривати трошки довше.
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="tab === 1">
          <div class="flex border-gray-200 py-2" bis_skin_checked="1">
            <span class="text-gray-500">Виробник</span>
            <span class="ml-auto text-gray-900">{{lens?.lenseProducer}}{{solution?.solutionProducer}}{{care?.cproducer}}</span>
          </div>
          <div *ngIf="lens" class="flex border-t border-gray-200 py-2" bis_skin_checked="1">
            <span class="text-gray-500">Тип корекції</span>
            <span class="ml-auto text-gray-900">{{lens?.lenseCorrection}}</span>
          </div>
          <div *ngIf="solution" class="flex border-t border-gray-200 py-2" bis_skin_checked="1">
            <span class="text-gray-500">Тип розчину</span>
            <span class="ml-auto text-gray-900">{{solution?.solutionType}}</span>
          </div>
          <div *ngIf="solution || care" class="flex border-t border-gray-200 py-2" bis_skin_checked="1">
            <span class="text-gray-500">Об'єм</span>
            <span class="ml-auto text-gray-900">{{solution?.solutionValue}}{{care?.cvalue}} ml</span>
          </div>
          <div *ngIf="lens" class="flex border-t border-gray-200 py-2" bis_skin_checked="1">
            <span class="text-gray-500">Як часто міняти?</span>
            <span class="ml-auto text-gray-900">{{lens?.lenseType}}</span>
          </div>
          <div *ngIf="lens" class="flex border-t border-gray-200 py-2" bis_skin_checked="1">
            <span class="text-gray-500">Матеріал лінзи</span>
            <span class="ml-auto text-gray-900">{{lens?.lenseMaterial}}</span>
          </div>
          <div *ngIf="lens" class="flex border-t border-gray-200 py-2" bis_skin_checked="1">
            <span class="text-gray-500">Вміст води</span>
            <span class="ml-auto text-gray-900">{{lens?.lenseWater}} %</span>
          </div>
          <div *ngIf="lens" class="flex border-t border-gray-200 py-2" bis_skin_checked="1">
            <span class="text-gray-500">Чи можна спати?</span>
            <span class="ml-auto text-gray-900">{{lens?.lenseSleep ? 'Так': 'Ні'}}</span>
          </div>
          <div *ngIf="solution" class="flex border-t border-gray-200 py-2" bis_skin_checked="1">
            <span class="text-gray-500">Містить гіалуронат натрію</span>
            <span class="ml-auto text-gray-900">{{solution?.boolHyaluronate ? 'Так': 'Ні'}}</span>
          </div>
          <div *ngIf="solution || care" class="flex border-t border-gray-200 py-2" bis_skin_checked="1">
            <span class="text-gray-500">Використати після відкритття</span>
            <span class="ml-auto text-gray-900">{{solution?.stdt}}{{care?.stdt}} днів</span>
          </div>
          <div class="flex border-t border-b border-gray-200 py-2 mb-4" bis_skin_checked="1">
            <span class="text-gray-500">Термін придатності</span>
            <span class="ml-auto text-gray-900">{{lens?.sdate}}{{solution?.sdate}}{{care?.sdate}} місяців і більше</span>
          </div>
        </div>
        <div *ngIf="tab === 2">
          <div class="flex border-gray-200 py-2" bis_skin_checked="1">
            <span class="text-gray-500">Інстаграм</span>
            <span class="ml-auto text-indigo-700"><a href="https://www.instagram.com/linza.nova/?hl=ru">Перейти</a></span>
          </div>
          <div class="flex border-t border-b border-gray-200 py-2 mb-4" bis_skin_checked="1">
            <span class="text-gray-500">Фейсбук</span>
            <span class="ml-auto text-indigo-700"><a href="https://www.instagram.com/linza.nova/?hl=ru">Перейти</a></span>
          </div>
        </div>
        <div class="flex">
          <div class="flex flex-row items-center">
            <span class="title-font font-medium text-2xl text-gray-900 price-color">{{lens?.price}}{{solution?.price}}{{care?.price}} &#8372;</span>
            <span class="line-through text-gray-600 ml-3"> {{lens?.avgPriceInUkraine}}{{solution?.avgPriceInUkraine}}{{care?.avgPriceInUkraine}} &#8372;</span>
          </div>
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">У корзину</button>
          <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4" (mouseover)="changeText=true" (mouseout)="changeText=false">
            <svg class="w-6 h-6 relative" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span class="absolute text-bold shadow rounded bg-white border text-gray-700 text-xs w36 m28 tip" *ngIf="changeText">
              Обирайте параметри товару безпосередньо у самій корзині*
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="flex justify-center">
  <div class="lg:w-1/3 lg:mb-0 p-4">
    <div class="h-full text-center">
      <span class="inline-block h-1 w-12 rounded bg-indigo-500 mt-6 mb-4"></span>
      <h2 class="text-gray-900 font-medium title-font tracking-wider text-lg">ВІДГУКИ</h2>
    </div>
  </div>
</div>
<app-comment [loader]="loader"></app-comment>
