<div class="flex flex-wrap justify-center py-24">
  <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Лінзи</h2>
    <p class="leading-relaxed text-base mb-4">Кількість товару на сайті: {{lensesCount}}</p>
    <a class="text-indigo-500 inline-flex items-center" (click)="getAllLenses()">Перейти
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
  <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Розчини</h2>
    <p class="leading-relaxed text-base mb-4">Кількість товару на сайті: {{solutionCount}}</p>
    <a class="text-indigo-500 inline-flex items-center" (click)="getAllSolutions()">Перейти
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
  <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Догляд</h2>
    <p class="leading-relaxed text-base mb-4">Кількість товару на сайті: {{careCount}}</p>
    <a class="text-indigo-500 inline-flex items-center" (click)="getAllEyeCare()">Перейти
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</div>
