.auto-height {
  height: 55vh;
  display: flex;
  align-items: center;
}
.reg-link {
  color: #667eea;
}
.reg-link:hover {
  color: #151515;
}

@media screen and (max-width: 768px){
  .mob-center {
    display: flex;
    justify-content: center;
  }
  .auto-height {
    height: 25rem;
  }
}
