<ul class="flex justify-center py-4">
    <li class="mr-3" *ngFor="let option of navOptions">
      <a (click)="changeAddView(option)" [ngClass]="(!option.default)?'inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3': 'inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white'">{{ option.name }}</a>
    </li>
</ul>
<div class="flex justify-center py-5">
  <form class="w-full max-w-lg" [formGroup]="addSolutionForm">
    <div *ngIf="currentOption === 0 || currentOption === 1 || currentOption === 2" class="flex flex-wrap -mx-3 mb-6" >
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-name">
          Назва товару
        </label>
        <input formControlName="pName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-name" type="text" placeholder="Розчин">
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-price">
          Ціна
        </label>
        <input formControlName="pPrice" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-price" type="number" placeholder="UAH">
      </div>
    </div>
    <div *ngIf="currentOption === 0" class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-type">
          Тип розчину
        </label>
        <div class="relative">
          <select formControlName="sType" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-type">
            <option *ngFor="let sType of sTypeList" [ngValue]="sType">{{ sType.name }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-sfactored">
          Виробник
        </label>
        <div class="relative">
          <select formControlName="sProducer" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-sfactored">
            <option *ngFor="let sProducer of sProducerList" [ngValue]="sProducer">{{ sProducer.name }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentOption === 1" class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-ltype">
          Тип контактних лінз
        </label>
        <div class="relative">
          <select formControlName="lType" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-ltype">
            <option *ngFor="let lType of lTypeList" [ngValue]="lType">{{ lType.name }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-lfactored">
          Виробник
        </label>
        <div class="relative">
          <select formControlName="lProducer" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-lfactored">
            <option *ngFor="let lProducer of lProducerList" [ngValue]="lProducer">{{ lProducer.name }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentOption === 2" class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-cProducer">
          Виробник
        </label>
        <div class="relative">
          <select formControlName="cproducer" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-cProducer">
            <option *ngFor="let cProducer of cProducerList" [ngValue]="cProducer.name">{{ cProducer.name }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-cvalue">
          Об'єм
        </label>
        <div class="relative">
          <input formControlName="cValue" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-cvalue" type="number">
        </div>
      </div>
    </div>
    <div *ngIf="currentOption === 0" class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-brand">
          Бренд
        </label>
        <div class="relative">
          <select formControlName="sBrand" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-brand">
            <option *ngFor="let sBrand of sBrandList" [ngValue]="sBrand">{{ sBrand.name }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-value">
          Об'єм
        </label>
        <div class="relative">
          <select formControlName="sValue" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-value">
            <option *ngFor="let sValue of sValueList" [ngValue]="sValue">{{ sValue.value }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentOption === 1" class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-lbrand">
          Бренд
        </label>
        <div class="relative">
          <select formControlName="lBrand" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-lbrand">
            <option *ngFor="let lBrand of lBrandList" [ngValue]="lBrand">{{ lBrand.name }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-quantity">
          Кількість лінз
        </label>
        <div class="relative">
          <select formControlName="lQuantity" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-quantity">
            <option *ngFor="let lQuantity of lQuantityList" [ngValue]="lQuantity">{{ lQuantity.value }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentOption === 1" class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-correction">
          Тип корекції
        </label>
        <div class="relative">
          <select formControlName="lCorrectionType" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-correction">
            <option *ngFor="let lCorrection of lCorrectionList" [ngValue]="lCorrection">{{ lCorrection.name }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-material">
          Матеріал лінзи
        </label>
        <div class="relative">
          <select formControlName="lMaterial" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-material">
            <option *ngFor="let lMaterial of lMaterialList" [ngValue]="lMaterial">{{ lMaterial.name }}</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-file">
          Фото
        </label>
        <input formControlName="pPhoto" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-file" type="file" placeholder="Обрати фото">
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-desc">
          Опис
        </label>
        <textarea formControlName="description" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-desc" type="text" placeholder="Опишіть товар"></textarea>
      </div>
    </div>
    <div *ngIf="currentOption === 1" class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="xxs-text block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-diopters">
          Діоптрії
        </label>
        <div class="flex flex-row">
          <input formControlName="lDioptersF" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded mr-1 py-3 px-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-diopters" type="number" placeholder="-10">
          <input formControlName="lDioptersT" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number" placeholder="+8">
        </div>
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="xxs-text block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-cyl">
          Циліндр
        </label>
        <div class="flex flex-row">
          <input formControlName="lCylF" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded mr-1 py-3 px-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-cyl" type="number" placeholder="-0.75">
          <input formControlName="lCylT" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number" placeholder="-2.25">
        </div>
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="xxs-text block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-axis">
          Вісь
        </label>
        <div class="flex flex-row">
          <input formControlName="lAxisF" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded mr-1 py-3 px-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-axis" type="number" placeholder="10°">
          <input formControlName="lAxisT" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-1 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="number" placeholder="180°">
        </div>
      </div>
    </div>
    <div *ngIf="currentOption === 1" class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="xxs-text block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-diametr">
          Діаметр
        </label>
        <input formControlName="lDiametr" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-diametr" type="number" placeholder="14.0">
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="xxs-text block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
          Кривизна(BC)
        </label>
        <input formControlName="lCurvature" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-curvature" type="text" placeholder="8.70">
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="xxs-text block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-water">
          Вміст води
        </label>
        <div class="relative">
          <input formControlName="lWater" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-water" type="number" placeholder="45%">
        </div>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="xxs-text block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-date">
          Термін придатності
        </label>
        <input formControlName="sDate" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-date" type="number" placeholder="24 міс">
      </div>
      <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="xxs-text block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-tdt">
          термін використання
        </label>
        <div class="relative">
          <input formControlName="sTdt" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-tdt" type="number" placeholder="3 міс">
        </div>
      </div>
      <div *ngIf="currentOption === 0" class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="xxs-text block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
          Містить гіалуронат натрію
        </label>
        <input formControlName="sZip" id="grid-zip" type="checkbox">
      </div>
      <div *ngIf="currentOption === 1" class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
        <label class="xxs-text block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-sleep">
          Чи можна спати
        </label>
        <input formControlName="lSleep"  id="grid-sleep" type="checkbox">
      </div>
    </div>
    <button *ngIf="currentOption === 0" (click)="addSolution()" class="my-2 bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Добавити
    </button>
    <button *ngIf="currentOption === 1" (click)="addLens()" class="my-2 bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Добавити
    </button>
    <button *ngIf="currentOption === 2" (click)="addLensDrops()" class="my-2 bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Добавити
    </button>
  </form>
</div>
<div *ngIf="errorResponse" class="alert-message-column">
  <div class="text-center py-4 lg:px-4 alert-message">
    <div class="p-2 bg-red-400 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex alert-message-new" role="alert" *ngFor="let error of errorResponse">
      <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg></span>
      <span *ngIf="error.message" class="font-semibold mr-2 text-left flex-auto">{{error.message}}</span>
      <span  class="font-semibold mr-2 text-left flex-auto">{{error}}</span>
      <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
    </div>
  </div>
</div>
