.form {
  &-track {
    margin: 0 auto;
  }
}
.inf-w {
  width: 2.75rem;
}
.alert-message {
  position: absolute;
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  &-column {
    display: flex;
    flex-direction: column;
  }
  &-new {
    margin-top: 10px;
  }
}
.wsp {
  white-space: nowrap !important;
}
