.cart-modal-box {
  position: absolute;
  transform: translate3d(0,0,0);
  filter: drop-shadow(0 0 3px rgba(1, 3, 4, 0.19)) !important;
  transition: all .3s ease-in-out;
  top: 165%;
  right: 15%;
  background: #ffffff;
  min-width: 350px;
  z-index: 10;
  text-align: left;
  &-header {
    padding: 15px;
    border-bottom: 1px solid #e1e1e1;
  }
  &-title {
    font-weight: 600;
    color: #151515;
    font-size: 16px;
  }
  &-main {
    padding: 10px;
    &-title {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 16%;
      white-space: nowrap;
      border-bottom: 1px solid #e1e1e1;
    }
    &-item {
      padding: 15px;
    }
  }
  &-buttons {
    line-height: 36px;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
  }
  &-footer {
    border-top: 1px solid #e1e1e1;
    &-button {
      outline: none;
      transition: all .3s ease-in-out;
      color: #151515;
      background-color: transparent;
      border-color: #151515;
    }
  }
}
.cart-modal-box::before{
  position: absolute;
  content: '';
  bottom: calc(100% - 0px);
  right: 40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 24px 24px;
  border-color: transparent transparent #ffffff transparent;
}
.btn-trans {
  transition: all .3s ease-in-out;
  outline: none;
}
.flex {
  &-right {
    &-row {
      display: flex;
      justify-content: space-between;
    }
  }
}
.delete {
  color: #d63511;
  &:hover {
    cursor: pointer;
  }
}
.alert-message {
  position: absolute;
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  &-column {
    display: flex;
    flex-direction: column;
  }
  &-new {
    margin-top: 10px;
  }
}
.relative-pos {
  position: relative!important;
}
.cart-modal-box-main {
  height: 70vh;
  overflow-y: scroll;
}
@media (min-width: 768px) {
  .header-resp-mob{
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .cart-modal-box {
    right: 0;
    left: 0;
    transform: translate(-36%, 0);
    min-width: 320px;
  }
  .cart-modal-box::before{
    right: 185px;
  }
  .btn-trans {
    transition: all .3s ease-in-out;
    outline: none;
    font-size: 13px;
  }
  .mob-img {
    display: none;
  }
}
@media screen and (max-height: 800px){
  .cart-modal-box-main {
    max-height: 60vh;
    overflow-y: scroll;
  }
}
@media screen and (max-height: 630px){
  .cart-modal-box-main {
    max-height: 50vh;
    overflow-y: scroll;
  }
}
